:root {
  --white: #ffffff;
  --Slate-300: #d5e1ef;
  --Slate-500: #68778d;
  --Slate-900: #1f314f;
  --box-shadow: inset 0 1.56rem 1.56rem rgba(0, 0, 0, 0.0477);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", Verdana, Tahoma, sans-serif;
}

body,
main {
  background-color: var(--Slate-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cont-princ {
  width: 20rem;
  height: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.25rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.cont-img {
  width: 18rem;
  height: 18rem;
  margin: calc(1rem);
}

img {
  width: 18rem;
  height: 18rem;
  border-radius: 0.625rem;
}

.cont-seman {
  width: 18rem;
  height: 8.18rem;
  margin-block: 0.5rem;
}

h1 {
  font-size: 1.38rem;
  color: var(--Slate-900);
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  margin: 0 1rem 1rem;
}

p {
  font-size: 0.94rem;
  color: var(--Slate-500);
  line-height: 140%;
  letter-spacing: 0.013rem;
  text-align: center;
  margin: 0 1rem 0;
}

.attribution {
  font-size: 0.8rem;
  margin: 1.8rem 0 0;
}
